{% extends "base.html" %}

{% block content %}
<h2>Add New Book</h2>
<form action="{% url 'new_book' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>

<h2>Search Books</h2>
<form action="" method="get">
        {{ filter.form.as_p }}
        <input type="submit" />
    </form>

{% for book in filter.qs %}
    <div class="book-row">
    {% if book.link %}<a href="{{ book.link }}">{% endif %}
    <h3>{{ book.title }}</h3>
    <h4>{{ book.author }}</h4>
    {% if book.link %}</a>{% endif %}
    <a href="{% url 'book_edit' book.id %}"><button>Edit book</button></a>
    <a href="{% url 'book_delete' book.id %}"><button>Delete book</button></a>
    </div>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if books.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ books.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ books.number }} of {{ books.paginator.num_pages }}.
        </span>

        {% if books.has_next %}
        <a href="?page={{ books.next_page_number }}">next</a>
        <a href="?page={{ books.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}
